.searchInput {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./tmp/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.headerContainer {
    display: flex;
    padding: 10px;
    background-color: #4A90E2;
}