@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color:#222222;
}

ul, ol, li {
    list-style: none;
}

a { 
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}